<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace = "fragments/head.html(currentPage = 'Frontpage', stylesheet='styles/Frontpage.css')"></head>
<body class="">
<header th:replace = "fragments/header.html(h1text = 'iWish!')"></header>
    <section class="container">
        <div class="divContainer"></div>
        <img src="images/sc.png" alt="Shoppingcart" class="image">
        <div class="divContainer"></div>
        <p class="front">Velkommen til iWish, log ind og lav din egen ønskeliste eller kig på dine venners ønskelister</p>
        <div class="divContainer"></div>
    </section>

    <footer th:replace="fragments/footer.html"></footer>
</body>
</html>