<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head.html(currentpage='Login')"></head>
<body>
<header th:replace="fragments/header.html(h1text='Welcome to iWish!')"></header>

<section class="login-form">
    <form action="/check-login" method="post" class="submitField">
        <label for="username">Username</label><br>
        <input type="text" id="username" name="username" placeholder="Username here"><br>

        <label for="password">Password</label><br>
        <input type="text" id="password" name="password" placeholder="Password here"><br>

        <button>Login to iWish</button>

    </form>
</section>
<footer></footer>
</body>
</html>