.container{
    display: flex;
}

.image {
    flex-basis: 30%;
    width: 400px;
    height: 400px;
}

.divContainer{
    flex-basis: 5%;
}

p.front{
    font-size: 35px;
    text-align: center;
    font-family: "Segoe UI";
}

body{
    background-color: lightcyan;
}
